<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <!-- Header section -->
  <header class="bg-black text-white text-center p-4 fixed top-0 z-50 w-full">
    <h1 class="text-lg mb-4 font-bold">Rohan Shah</h1>
    <nav class="md:flex justify-center items-center">
      <ul class="list-none md:flex md:justify-between md:items-center">
        <li class="mr-4"><a class="text-white hover:border-b-2" href="#summary">Summary</a></li>
        <li class="mr-4"><a class="text-white hover:border-b-2" href="#skills">Skills</a></li>
        <li class="mr-4"><a class="text-white hover:border-b-2" href="#community-contributions">Community contributions</a></li>
        <li class="mr-4"><a class="text-white hover:border-b-2" href="#projects">Projects</a></li>
        <li class="mr-4"><a class="text-white hover:border-b-2" href="#publication">Publication</a></li>
        <li><a class="text-white hover:border-b-2" href="#certifications">Certifications</a></li>
      </ul>
    </nav>
  </header>
  <main class="container p-3 bg-gray-100 mt-20">
    <!-- Summary Section -->
    <section id="summary" class="py-16 mt-16">
        <div class="container mx-auto">
            <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8 ">Summary</h2>
            <div class="md:flex md:items-center md:justify-center">
                <p class="text-lg text-gray-700 mt-4 mx-auto ">
                    I am a passionate software professional with a Bachelor's of Engineering in Computer Science from Maharaja Sayajirao University and a Postgraduate Certificate in Web Development from Conestoga College. Additionally, I hold certifications in Microsoft Azure Fundamentals, Python Institute Certified Associate Level Programmer, and Zendesk Certified Customer Service Professional. With experience as a Software Tester at TestIO, Utest, and Testerwork, as well as an AI Data Trainer at DataAnnotations, I bring a diverse skill set and a commitment to excellence to every project. I am dedicated to delivering high-quality solutions and pushing the boundaries of technology, continuously learning and adapting to new challenges.
                </p>
            </div>
        </div>
    </section>
    

<!-- Community Contributions Section -->
<section id="community-contributions" class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Community Contributions</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Community 1 -->
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">TestIO</h3>
                <p class="text-lg">As a software tester, I contributed to the TestIO community by participating in various testing projects, providing valuable feedback, and ensuring the quality of software products.</p>
            </div>
            <!-- Community 2 -->
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Utest</h3>
                <p class="text-lg">At Utest, I actively engaged in software testing activities, including test case design, execution, bug reporting, and collaborating with team members to deliver high-quality software solutions.</p>
            </div>
            <!-- Community 3 -->
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">DataAnnotations</h3>
                <p class="text-lg">As an AI Data Trainer at DataAnnotations, I contributed to the development of AI models by providing high-quality training data and ensuring accurate annotations for various datasets.</p>
            </div>
        </div>
    </div>
</section>
     <!-- Skill Section -->
<!-- Skills Section -->
<section id="skills" class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Technical Skills -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg">
                <div class="p-8 flex flex-col justify-start">
                    <h3 class="text-lg font-semibold mb-2">TECHNICAL SKILLS</h3>
                    <ul class="text-lg">
                        <li><italic> Programming: </italic> Python, JavaScript, Java</li>
                        <li><italic> Web Development: </italic> HTML, CSS, React, Flask, ASP .NET Core MVC ,Node.js</li>
                        <li><italic> Version Control: </italic> Git, GitHub</li>
                        <li><italic> Database Management:</italic> MySQL, MongoDB</li>
                        <li><italic> Cloud Technologies:</italic> Azure, DigitalOcean</li>
                        <li><italic> Networking Protocols:</italic> MQTT, HTTP, HTTPS </li>
                        <li><italic> Testing tools:</italic> Postman, Burp suite, Chales,Browser Developer tools, Testrail</li>
                    </ul>
                </div>
            </div>
            <!-- Soft Skills -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg">
                <div class="p-8 flex flex-col justify-start">
                    <h3 class="text-lg font-semibold mb-2">SOFT SKILLS</h3>
                    <ul class="text-lg">
                        <li><italic> Communication: </italic> Effective written and verbal communication</li>
                        <li><italic> Problem-Solving: </italic> Proven ability to identify and resolve complex issues</li>
                        <li><italic> Teamwork: </italic> Collaborative approach to achieving team goals</li>
                        <li><italic> Adaptability: </italic> Flexible and adaptable to changing environments</li>
                        <li><italic> Detail-oriented:</italic> Possess a keen eye for detail, ensuring accuracy and precision in all tasks.</li>
                        <li><italic> Strong organization and management skills:</italic> Proven ability to efficiently organize tasks, prioritize workload, and effectively manage time to meet deadlines.</li>                        
                    </ul>
                </div>
            </div>
            <!-- Industry-Specific Skills -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg">
                <div class="p-8 flex flex-col justify-start">
                    <h3 class="text-lg font-semibold mb-2">SPECIALIZED SKILLS</h3>
                    <ul class="text-lg">
                        <li><italic>Web Development:</italic> Web Deployments, Responsive design, Cross-browser compatibility, Search Engine Optimization</li>
                        <li><italic>Software Testing:</italic> Manual testing, Log Collection, Evidence collection, Bug Reports and Reproductions, Coding Analysis, Selenium, Unit Test, Test case design, Project Management</li>
                        <li><italic>Data Annotations:</italic> AI data training, Text-to-image generation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Certifications Section -->
<section id="certifications" class="py-16 bg-gray-100">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Certifications</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Microsoft Azure Fundamentals</h3>
            </div>
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Python Institute Certified Associate Level Programmer</h3>
            </div>
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Zendesk Certified Customer Service Professional</h3>
            </div>
        </div>
    </div>
</section>

    
<!-- Education Section -->
<section id="education" class="py-16 ">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Education</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <!-- Education 1 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ url_for('static', filename='images/msu-baroda.jpeg') }}" alt="Maharaja Sayajirao University">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">Bachelor's of Engineering in Computer Science</h3>
                    <p class="text-gray-700">Maharaja Sayajirao University</p>
                </div>
            </div>
            <!-- Education 2 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ url_for('static', filename='images/conesotoga.jpeg') }}" alt="Conestoga College">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">Postgraduate Certificate in Web Development</h3>
                    <p class="text-gray-700">Conestoga College</p>
                </div>
            </div>
            <!-- Additional Education Goes Here -->
        </div>
    </div>
</section>


 <!-- Publication Section -->
 <section id="publication" class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Publication</h2>
        <div class="flex flex-col md:flex-row items-center justify-center md:justify-between bg-white">
            <p class="text-lg text-center md:text-left mb-4 md:mb-0">The npm package <a href="https://www.npmjs.com/package/text-to-image-stable-diffusion" class="text-blue-500 hover:border-b-2" target="_blank">text-to-image-stable-diffusion</a> offers a cutting-edge solution in the field of natural language processing (NLP) and computer vision. Leveraging state-of-the-art diffusion models, this package seamlessly translates textual descriptions into vivid and contextually relevant images.</p>
        </div>
    </div>
</section>

 <!-- Projects Section -->
 <section id="projects" class="py-16 bg-gray-100">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">Projects</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Project 1 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ url_for('static', filename='images/Project1.jpg') }}" alt="Project 1">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">Connect ESP-32 to cloud platforms</h3>
                    <p class="text-gray-700">Connected ESP-32 device to various cloud platforms such as Thingsboard, HiveMQ while sending data using MQTT and HTTP protocols. </p>
                    <a href="https://github.com/AfkRohan/Esp32_projects" class="mt-4 text-blue-500 hover:border-b-2">View Project</a>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ url_for('static', filename='images/Project2.png') }}" alt="Project 2">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">Movie Booking System using MERN stack </h3>
                    <p class="text-gray-700">Developed a full-fledged movie booking system that has capabilities for admin-side movie management, SEO optimization, user movie booking with ticket generation, payment integration, seat selection, and more.. </p>
                    <a href="https://github.com/AfkRohan/MovieBookingSystem" class="mt-4 text-blue-500 hover:border-b-2">View Project</a>
                </div>
            </div>
            <!-- Project 3 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ url_for('static', filename='images/Project3.png') }}" alt="Project 3">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">E-commerce store using PHP and MySQL</h3>
                    <p class="text-gray-700">Developed an E-commerce store with features like filtering, add to cart, favorites, checkout, and more...</p>
                    <a href="https://github.com/AfkRohan/PHP-Project" class="mt-4 text-blue-500 hover:border-b-2">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>
    
  </main>
   <!-- Footer section -->
<!-- Footer section -->
<footer class="bg-gray-800 text-white text-center p-4">
    <nav class="flex justify-center items-center">
        <ul class="list-none flex p-1">
            <li class="mr-4"><a class="text-white" href="https://github.com/afkrohan"><i class="fab fa-github"></i> </a></li>
            <li class="mr-4"><a class="text-white" href="https://www.linkedin.com/in/rohan-shah-61045214a"><i class="fab fa-linkedin"></i> </a></li>
            <li class="mr-4"><a class="text-white" href="mailto:rohan17shah08@gmail.com"><i class="fas fa-envelope"></i> </a></li>
            <li><a class="text-white" href="tel:+17059704907"><i class="fas fa-phone"></i> </a></li>
        </ul>
    </nav>
    <!-- Contact Me Button or Link -->
    <a href="/contact" class="inline-block bg-transparent border border-white rounded py-2 px-4 mt-4 transition duration-300 hover:bg-white hover:text-gray-800">Contact Me</a>
    <!-- Copyright Notice -->
    <p class="mt-4">© 2023 Rohan Shah</p>
</footer>
</body>
</html>